{% load static %}

<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dev</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'dev/img/logo/mon-logo3.png'%}">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/css/bootstrap.min.css'%}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/css/font-awesome.min.css'%}">
	<!-- nalika Icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/css/nalika-icon.css'%}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/css/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'dev/css/owl.theme.css'%}">
    <link rel="stylesheet" href="{% static 'dev/css/owl.transitions.css'%}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/css/animate.css'%}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/css/normalize.css'%}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/css/meanmenu.min.css'%}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/css/main.css'%}">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/css/morrisjs/morris.css'%}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/css/scrollbar/jquery.mCustomScrollbar.min.css'%}">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/css/metisMenu/metisMenu.min.css'%}">
    <link rel="stylesheet" href="{% static 'dev/css/metisMenu/metisMenu-vertical.css'%}">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/css/calendar/fullcalendar.min.css'%}">
    <link rel="stylesheet" href="{% static 'dev/css/calendar/fullcalendar.print.min.css'%}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/style.css'%}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'dev/css/responsive.css'%}">
    <!-- modernizr JS
		============================================ -->
    <script src="{% static 'dev/js/vendor/modernizr-2.8.3.min.js'%}"></script>
    <script src="{% static 'dev/htmx.min.js'%}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
</head>

<body>
    
    {% block content %}
    {% comment %} {% include 'navbar.html' %}   
    {% include 'barNav.html' %}
    {% include 'barTitle.html' %} {% endcomment %}
    
       
    {% endblock  %}

    <!-- jquery
		============================================ -->
      