{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
 
</style>

<div class="home-container">
    
        
        <div>
            {% include 'devRoom/themes.html' %}
        </div>

        <div>
            {% if messages %}
            {% for message in messages %}
            <ul class="messages">
                <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}} </li>
            </ul>
            {% endfor %}
        
            {% endif %}
            <a href="{%url 'room_creat'%}">
                <button type="button">Créer un sujet</button>
            </a>
            <div>
                {% include 'devRoom/titres.html' %}
            </div>
        </div>
        <div>
           {% include 'devRoom/activiteRecents.html' %}
        </div>      
    
</div>
                            
{% endblock  %}

