{% extends 'main.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-md-4 col-sm-4 col-xs-12">
            <div class="text-center m-b-md custom-login">
                <h3 class="text-warning">Rénitialisation du mot de passe</h3>
                {% if messages %}
                {% for msg in messages %}
                <p style="color: aquamarine;">{{msg}}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    {% autoescape off %}
                        <p>Pour procéder à la renitialisation du mot de passe, veuillez vérifiez {{user.get_username}} <br>
                        Cliquer sur le lien en dessous {{protocol}}://{{domain}}{% url 'password_reset_confirm' uidb64-uid token-token%}
                        </p>
                    {% endautoescape %}
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <p>Copyright © 2023 <a href="https://colorlib.com/wp/templates/">@Dev</a> Tous droits réservés.</p>
        </div>
    </div>
</div>