{% include 'main.html' %}
{% block content %}
<div class="color-line"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-md-4 col-sm-4 col-xs-12">
            <div class="text-center m-b-md custom-login">
                <h3 class="text-warning">Rénitialisation du mot de passe</h3>
                {% if messages %}
                {% for msg in messages %}
                <p style="color: aquamarine;">{{msg}}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form method="post"  id="loginForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <input type="text" placeholder="eric@gmail.com" title="Entrer votre email pour renitialiser" required="" value="" name="eamil" id="email" class="form-control">
                            <span class="help-block small">Votre email ici</span>
                        </div>
                        <button type="submit" class="btn btn-success btn-block loginbtn">Envoyer</button>
                        <a class="btn btn-default btn-block" href="{%url 'login_room'%}">Connexion</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <p>Copyright © 2023 <a href="https://colorlib.com/wp/templates/">@Dev</a> Tous droits réservés.</p>
        </div>
    </div>
</div>

{% endblock content %}
    {% include 'js.html' %}